{% extends 'page/checkout/inc/summary_sidebar.html.twig' %}

{# TODO: Remove this template extension once the change is incorporated into the Apex theme #}
{% block checkout_basketcontents_voucherdiscount %}
    {% if oViewConf.getShowVouchers() and oxcmp_basket.getVouchers() %}
        {% for key, sVoucher in oxcmp_basket.getVouchers() %}
            <div class="list-group-item d-flex justify-content-between align-items-center">
                                <span class="d-flex align-items-center">
                                    <span>{{ translate({ ident: "COUPON" }) }}&nbsp;({{ sVoucher.sVoucherNr }})</span>
                                    {% if editable %}
                                        <a href="{{ oViewConf.getSelfLink()|raw }}&amp;cl=basket&fnc=removeVoucher&amp;voucherId={{ sVoucher.sVoucherId }}&amp;CustomError=basket&amp;stoken={{ oViewConf.getSessionChallengeToken() }}"
                                           class="btn removeFn py-0" title="{{ translate({ ident: "REMOVE" }) }}">
                                            <svg>
                                                <use xlink:href="#trash"></use>
                                            </svg>
                                        </a>
                                    {% endif %}
                                </span>
                <span class="text-danger">{% if sVoucher.dVoucherdiscount > 0 %}-{% endif %}{{ format_price(sVoucher.dVoucherdiscount, { currency: currency }) }}</span>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}
